<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.itboyst.facedemo.mapper.StudentBacktimeMapper">

    <insert id="insertStudentBacktime" parameterType="com.itboyst.facedemo.domain.StudentBacktime">
        insert into student_backtime(idcard, name, backstatus)
        VALUES (#{idcard}, #{name}, #{backstatus})
    </insert>
    <update id="updateIsIn" parameterType="com.itboyst.facedemo.domain.StudentBacktime">
        update student_info
        set isin = '在寝'
        where idcard = #{idcard}
    </update>

</mapper>